@import url('fonts.css');
@import url('variables.css');
@import url('base.css');
@import url('utilities.css');
@import url('components/header.css');
@import url('components/hero.css');
@import url('components/footer.css');

/* CONVENCIÓN PARA LOS ESTILOS
1. Posicionamiento - Position fix, 
2. Modelo de caja (Box model)
3. Tipografía
4. Tema visual
5. Miscelanios u otros.
*/

main {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  background-color: var(--bg-color);
}

header {
  width: 100%;
  height: 64px;
  padding: 0 24px;
  /*position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);*/
}

/* NAVIGATION STYLES */
.main-nav {
  position: relative;
  width: 100%;
  height: auto;
  padding: 16px 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.main-nav__logo {
  cursor: pointer;
  display: flex;
  align-items: center;
}
.main-nav__mobile-button {
  background: none;
  border: none;
  cursor: pointer;
}
.main-nav__container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main-nav__list {
  display: none;
  width: 344px;
  height: auto;
  margin-top: 20px;
  padding: 24px;
  border: 1px solid #1D2029;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  background-color: var(--bg-color);
  border-radius: 16px;
  box-shadow: 0 16px 32px 0 rgba(9, 10, 13, 1);
}
.item-divider {
  width: 100%;
  height: 1px;
  background-color: #1D2029;
}
.main-nav__item {
  width: 100%;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.8px;
  list-style: none;
}
.main-nav__item a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}
.link-active {
  background-color: #1D2029;
  color: var(--black);
  border-radius: 8px;
  border-bottom: 1px solid var(--platzi-green);
  width: 100%;
}
.main-nav__logo-link {
  display: flex;
  align-items: center;
}


.main-hero {
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
   background: radial-gradient(163.67% 100.26% at 100% 0%, #0C3728, #13161C);
}
.main-hero__text {
  margin-top: 5.6rem;
  margin-bottom: 4.0rem;
  color: var(--white);
}
.main-hero__text h1 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-heavy);
  margin-bottom: 16px;
  letter-spacing: 0.4px;
}
.main-hero__text span {
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  color: var(--platzi-green);
}
.main-hero__text h2 {
  font-size: var(--text-lg);
  font-weight: var(--font-weight-medium);
  margin-bottom: 16px;
  letter-spacing: 0.4px;
  color: var(--platzi-green);
}
.main-hero__text p {
  margin-top: 1.6rem;
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: #d7d7d7;
  line-height: 1.25;
  max-width: 600px;
}

.main-buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 4.0rem;
}
.main-buttons a {
  padding: 12px 24px;
  border-radius: 8px;
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.8px;
}
.main-buttons .btn-primary {
  background: linear-gradient(90deg, #0AE98A 0%, #0CA5D8 100%);
  color: var(--black);
  width: 280px;
}
.main-buttons .btn-secondary {
  background-color: transparent;
  border: 1px solid var(--platzi-green);
  color: var(--white);
  width: 280px;
}

.main-stats {
  width: 200px;
  height: auto;
  background-color: var(--black);
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 0 42.134px 0 rgba(10, 233, 138, 0.25);
  border: 1px solid var(--platzi-green);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 32px;
}
.main-stats .stat {
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.main-stats .stat h3 {
  font-size: 5.6rem;
  font-weight: var(--font-weight-bold);
  color: var(--platzi-green);
  background: linear-gradient(180deg, #B573FF 14.53%, #759FD4 55.52%, #16E293 96.51%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.main-stats .stat p {
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: var(--white);
}

.my-trip-section {
  width: 100%;
  min-width: 320px;
  padding: 24px;
  background-color: var(--bg-color);
}
.main-trip-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  margin-top: 24px;
}
.main-trip-title img {
  width: 40px;
  height: 40px;
}
.main-trip-paragraph {
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: var(--white);
  line-height: 2.4rem;
  letter-spacing: 0.8px;
  max-width: 600px;
  margin-bottom: 24px;
}
.main-trip-paragraph p {
  padding: 24px 0;
}
.main-trip-paragraph span {
  color: var(--platzi-green);
  font-weight: var(--font-weight-medium);
}
.cite {
  width: 100%;
  height: 210px;
  border-radius: 8px;
  border-left: 1px solid var(--platzi-green);
  color: var(--white);
  font-size: var(--text-base);
  font-weight: var(--font-weight-light);
  background-color: var(--grey-01);
  padding: 24px;
  line-height: 2.4rem;
  letter-spacing: 0.8px;
}
.cite p {
  margin-bottom: 16px;
}

.values-section {
  width: 100%;
  min-width: 320px;
  padding: 24px;
}
.values-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 16px;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  margin-top: 24px;
}
.values-card {
  width: 100%;
  margin-bottom: 24px;
} 
.values-card-title {
  height: 74px;
  background-color: #1D2029;
  border-radius: 8px 8px 0 0;
  font-size: 20px;
  font-weight: var(--font-weight-medium);
  color: var(--platzi-green);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
.values-card p {
  text-align: center;
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: var(--white);
  line-height: 2.4rem;
  letter-spacing: 0.8px;
  padding: 16px;
  background-color: var(--grey-01);
  border-radius: 0 0 8px 8px;
}
.values-card img {
  width: 20px;
  height: 20px;
}

.my-projects-section {
  width: 100%;
  min-width: 320px;
  padding: 24px;
}
.projects-title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
}
.projects-description {
  font-size: var(--text-base);
  text-align: center;
  color: #87909D;
  margin-bottom: 40px;
  letter-spacing: 0.4px;
}
.project-card-active {
  width: auto;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #525A66;
  background-color: #1E2229;
  box-shadow: 0 0 32px 0 rgba(10, 233, 138, 0.16);
}
.project-card {
  width: auto;
  padding: 24px;
  border-radius: 8px;
  border: 1px solid #525A66;
  background-color: #1E2229;
}
.project-title {
  margin-bottom: 16px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.project-title h3 {
  font-size: 1.8rem;
  font-weight: var(--font-weight-bold);
  color: var(--white);
}
.project-tag {
  background: linear-gradient(90deg, #0AE98A 0%, #0CA5D8 100%);
  color: var(--black);
  font-size: 1.4rem;
  font-weight: var(--font-weight-medium);
  padding: 4px 8px;
  border-radius: 50px;
}

.projects-cards {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.project-card-active p {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: #87909D;
  line-height: 1.5;
  margin-bottom: 16px;
}
.project-card p {
  font-size: 14px;
  font-weight: var(--font-weight-regular);
  color: #87909D;
  line-height: 1.5;
  margin-bottom: 16px;
}
.project-abilities {
  margin-top: 16px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.project-item {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.project-item img {
  width: 20px;
  height: 20px;
}
.project-item p {
  font-size: 1.4rem;
  letter-spacing: 0.4px;
  font-weight: var(--font-weight-medium);
  color: var(--white);
}
.project-chip-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 16px;
}
.project-chip {
  border: 1px solid #2D323A;
  color: #C4C8CE;
  font-size: 1.2rem;
  font-weight: var(--font-weight-regular);
  padding: 4px 12px;
  border-radius: 50px;
}
.project-buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 16px;
}
.project-btn {
  height: 44px;
  width: 278px;
  padding: 0 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 1px solid var(--platzi-green);
  border-radius: 8px;
}
.btn {
  display: none;
}

.about-me-section {
  width: 100%;
  min-width: 320px;
  padding: 24px;
}
.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.about-container p {
  max-width: 600px;
  text-align: center;
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: #87909D;
  line-height: 2.4rem;
  letter-spacing: 0.8px;
}
.about-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  font-size: var(--text-base);
  font-weight: var(--font-weight-medium);
  background: linear-gradient(90deg, #10B981 0%, #06B6D4 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 24px;
  margin-top: 24px;
}
.about-title p {
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: var(--white);
}
.card-about-me {
  width: 100%;
  border-radius: 16px;
  margin-bottom: 24px;
  background-color: var(--grey-01);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
.card-about-me img {
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}
.card-info {
  width: 100%;
  text-align: center;
  padding: 24px;
}
.card-info span {
  font-weight: var(--font-weight-medium);
  color: var(--platzi-green);
}
.card-info .about-me-btn {
  width: auto;
  margin-top: 16px;
  padding: 12px 24px;
  border-radius: 8px;
  border: 1px solid var(--platzi-green);
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  letter-spacing: 0.8px;
  color: var(--platzi-green);
}
.card-info h4 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  margin-bottom: 8px;
}
.card-info p {
  font-size: var(--text-base);
  font-weight: var(--font-weight-regular);
  color: var(--white);
  line-height: 2.4rem;
  letter-spacing: 0.8px;
}

.about-skills-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.about-skill-title h4 {
  font-size: var(--text-xl);
  font-weight: var(--font-weight-bold);
  color: var(--white);
  margin-bottom: 18px;
  text-align: center;
}
.about-skill-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about-skill-item {
  font-size: 1.6rem;
  font-weight: var(--font-weight-regular);
  color: var(--white);
  letter-spacing: 0.8px;
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.divider {
  width: 100%;
  height: 1px;
  background-color: #2D323A;
  margin: 16px 0;
}
.learning-info-container {
  width: 315px;
  display: flex;
  flex-direction: column;
}
.learning-header {
  font-size: 20px;
  color: var(--platzi-green);
  line-height: 2.4rem;
  padding: 24px;
  border-radius: 8px 8px 0 0;
  background-color: #1D2029;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 8px;
}
.learning-content {
  width: 100%;
  padding: 24px;
  border-radius: 0 0 8px 8px;
  background-color: #2D323A;
  display: flex;
  flex-direction: column;
  gap: 16px;
}