:root {
  /* Tipografía */
    --font-primary: 'Roobert', 'Segoe UI', 'Roboto', sans-serif;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-bold: 700;
    --font-weight-heavy: 800;
    
    /* Tamaños de fuente */
    --text-xs: 0.6rem;
    --text-sm: 0.8rem;
    --text-base: 1.6rem;
    --text-lg: 2.4rem;
    --text-xl: 3.2rem;
    --text-2xl: 4.8rem;
    --text-3xl: 6.4rem;
    --text-4xl: 7.2rem;

    /*Colores*/
    --primary-green: #00D800;
    --platzi-green: #0AE98A;
    --platzi-dark-green: #0C3728;
    --bg-color: #13161C;
    --grey-01: #2D323A;
    --grey-02: #87909D;
    --sky-blue: #0CA5D8;
    --light-blue: #759FD4;
    --purple: #B573FF;
    --white: #FFFFFF;
    --black: #000000;

    /* Espacios */
    --spacing-xs: 0.8rem;
    --spacing-sm: 1.6rem;
    --spacing-md: 2.4rem;
    --spacing-lg: 3.2rem;
    --spacing-xl: 4.8rem;
    --spacing-2xl: 5.6rem;
}